.App {
  display: flex;
  background-color: blue;
}

p {
  margin-left: 65px;
  color: cadetblue;
  font-weight: bold;
}
h1 {
  margin-left: 20px;
}

.Card {
  background-color: white;
  margin-top: 30px;
  margin-left: 170px;
  padding: 30px;
  border-radius: 20px;
}
.Card1 {
  background-color: white;
  margin-top: 30px;
  margin-left: 30px;
  padding: 30px;
  border-radius: 20px;
}
.Card2 {
  background-color: white;
  margin-top: 30px;
  margin-left: 30px;
  padding: 30px;
  border-radius: 20px;
}
button {
  background-color: rgb(63, 138, 218);
  color: white;
  width: 210px;
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
}
.button {
  background-color: blue;
}
.First {
  padding-top: 15px;
}
